<div class="nav-bar p-col-12" style="text-align: center">
    <h2>Academia moviles</h2>
</div>
<div class="p-col-12" style="text-align: center"> 
    <h3>List Products</h3>
</div>
<div class="mat-elevation-z8">
    <table mat-table class="full-width-table" [dataSource]="dataSource">

      <ng-container matColumnDef="name">
        <th class="font-weight-600 text-center" mat-header-cell *matHeaderCellDef> Name </th>
        <td class="mat-column-name" mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="description">
        <th class="font-weight-600 text-center" mat-header-cell *matHeaderCellDef> Descripction </th>
        <td class="mat-column-description" mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
    
      <ng-container matColumnDef="brand">
        <th class="font-weight-600 text-center" mat-header-cell *matHeaderCellDef> Brand </th>
        <td class="mat-column-brand" mat-cell *matCellDef="let element"> {{element.brand}} </td>
      </ng-container>
    
      <ng-container matColumnDef="image">
        <th class="font-weight-600 text-center" mat-header-cell *matHeaderCellDef> Image </th>
        <td class="mat-column-image" mat-cell *matCellDef="let element"> <img [src]="element.image" /> </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th class="font-weight-600 text-center" mat-header-cell *matHeaderCellDef> Amount </th>
        <td class="mat-column-amount" mat-cell *matCellDef="let element"> {{element.price.amount | number:'1.2-2'}} </td>
      </ng-container>

      <ng-container matColumnDef="currencyType">
        <th class="font-weight-600 text-center" mat-header-cell *matHeaderCellDef> Coin Type </th>
        <td class="mat-column-currencyType" mat-cell *matCellDef="let element"> {{element.price.currencyType}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
</div>